<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body> 
    <div id="parent">
        <div id="logo">
            <img src="/static/image/logo.png" alt="">
        </div>
        <div id="main">
            <div id="title">用户登录</div>
            <div class="message">
                <label for="username">用户名:</label>
                <input type="text" name="username" id="username" placeholder="字母,数字,下划线组成">
                <div id="show_tip_1" class="tips"></div>
            </div>
            <div class="message">
                <label for="password_1">密 码:</label>
                <input type="password" name="password_1" id="password_1" placeholder="字母,数字,下划线组成,6~12位">
                <div id="show_tip_2" class="tips"></div>
            </div>
            <button id="sure">登  录</button>
            <div id="weibo">
                <img src="/static/image/weibo.jpg" alt="">
                <span>微博登录</span>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>