<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div id="parent">
        <div id="logo">
            <img src="/static/image/logo.png" alt="">
        </div>
        <div id="main">
            <div id="title">新用户注册</div>
            <div class="message">
                <label for="username">用户名:</label>
                <input type="text" name="username" id="username" placeholder="字母,数字,下划线组成">
                <div id="show_tip_1" class="tips"></div>
            </div>
            <div class="message">
                <label for="password_1">密 码:</label>
                <input type="password" name="password_1" id="password_1" placeholder="字母,数字,下划线组成,6~12位">
                <div id="show_tip_2" class="tips"></div>
            </div>
            <div class="message">
                <label for="password_2">确认密码:</label>
                <input type="password" name="password_2" id="password_2">
                <div id="show_tip_3" class="tips"></div>
            </div>
            <div class="message">
                <label for="gender">性 别:</label>
                <select name="gender" id="gender">
                    <option value="1">&nbsp;&nbsp;男 生</option>
                    <option value="0">&nbsp;&nbsp;女 生</option>
                </select>
            </div>
            <div class="message">
                <label for="email">邮 箱:</label>
                <input type="text" name="email" id="email">
                <div id="show_tip_4" class="tips"></div>
            </div>
            <button id="sure">提  交</button>
        </div>
    </div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/register.js"></script>
</body>
</html>