<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传头像</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/whole.css">
    <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="/index/"><img src="/static/image/logo.png" alt=""></a> 
        </div>
    </header>
    <div id="main">
        <img src="" id="show">
        <div id="upload">
            <input type="file" id="head_portrait" accept="image/png,image/jpeg,image/jpg">
        </div>
        <span>为达到最佳视觉效果,请上传1:1比例的头像照片</span>
        <div id="sure_btn">
            <button>上传</button>
        </div>
        
    </div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/upload.js"></script>
</body>
</html>