/* 全局样式 */
body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'YouYuan';
    background-color: #f1f3f4;
}
ul,li,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
}
a,a:hover{
    text-decoration: none;

}
input{
    border: none;
    outline: none;
}
.clear{
    clear: both;
}
.hide{
    display: none;
}

/* 头部样式 */
header{
    width: 1050px;
    height: 152px;
    margin: 0 auto;
    position: relative;
}
header #logo{
    position: absolute;
    top: 30px;
}
header #logo img{
    width: 160px;
    height: 90px;
}
header span{
    text-align: center;
    line-height: 40px;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 450px;
    top: 55px;
    font-size: 23px;
    font-weight: 800;
    display: inline-block;
}
#main{
    width: 1050px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #666;
    border-radius: 10px;
    position: relative;
    padding-top: 20px;
    margin-bottom: 50px;
    /* background-color: rgba(0, 0, 0, 0.3); */
}
#main .myessay{
    position: absolute;
    left: 60px;
}
#main #title{
    width: 1050px;
    height: 120px;
}
/* 文章标题 */
#main #title #essayTitle{
    width: 355px;
    height: 25px;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 5px;
    line-height: 25px;
    color: #242424;
}
/* 文章分类 */
#main #title #classify{
    width: 100px;
    height: 25px;
    border:none;
    outline: none;
    background-color: #fff;
    top: 21px;
    left: 450px;
    font-size: 13px;
    color: #242424;
    border-radius: 5px;
}
/* 文章描述 */
#content #content_text{
    font-size: 15px;
    border: 1px solid #666;
    outline: none;
    border-radius: 5px;
    position: absolute;
    display: block;
    right: 120px;
    bottom: 120px;
}

/* 专辑封面 */
#pic{
    position: absolute;
    right: 230px;
    top: 60px;
    border: 1px solid #666;
    width: 320px;
    height: 270px;
    border-radius: 10px;
}
#pic #essayPicture{
    width: 72px;
    position: absolute;
    left: 125px;
    top: 137px;
    opacity: 0;
    z-index: 20;
}
#pic span{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
}
#pic #plus_1{
    width: 72px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    border: 1px dashed #666;
    border-radius: 5px;
    font-size: 40px;
    color: #666;
    position: absolute;
    left: 123px;
    top: 113px;
    z-index: 10;
}


#main #send{
    width: 100px;
    height: 30px;
    position: absolute;
    right: 300px;
    bottom: 36px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    background-color: #4080e2;
    cursor: pointer;
}
#main #send:active{
    background-color: #4060e2
}


/* 视频上传栏样式: */
#video_content{
    border: 1px solid #666;
    border-radius: 10px;
    width: 360px;
    height: 270px;
    position: absolute;
    top: 60px;
    left: 60px;
}
#video_content span{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
}
#video_content input{
    width: 72px;
    opacity: 0;
    position: absolute;
    right: 136px;
    top: 100px;
    z-index: 15;
}
#video_content #plus{
    width: 72px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    border: 1px dashed #666;
    border-radius: 5px;
    font-size: 40px;
    color: #666;
    position: absolute;
    right: 136px;
    top: 76px;
    z-index: 10;
}
#video_show{
    width: 340px;
    height: 223px;
    border: 1px solid #666;
    position: absolute;
    right: 9px;
    top:36px;
}